*.pdb
*.ipch
*.obj
*.suo
*.sdf
*.tlog
*.lastbuildstate
src/DMX_Remake/DMX_Remake/Debug/DMX_Debug.exe.intermediate.manifest
*.cache
*.idb
*.log
src/DMX_Remake/DMX_Remake/Release/DMX.exe.intermediate.manifest
*.user
src/DMX_Remake/Debug/DMX_Debug.exe
src/DMX_Remake/Release/DMX.exe
*.opensdf
src/DMX_Remake/.vs/DMX_Remake/v16/Browse.VC.db-shm
src/DMX_Remake/.vs/DMX_Remake/v16/Browse.VC.db-wal
src/DMX_Remake/.vs/DMX_Remake/v16/Browse.VC.opendb
src/DMX_Remake/.vs/DMX_Remake/v16/Browse.VC.db
src/DMX_Remake/.vs/DMX_Remake/v16/Browse.VC.db
src/DMX_Remake/DMX_Remake/Debug/DMX_Debug.exe.recipe
src/DMX_Remake/DMX_Remake/Release/DMX.exe.recipe
src/DMX_Remake/DMX_Remake/Release/DMX_Remake.vcxproj.FileListAbsolute.txt
src/DMX_Remake/DMX_Remake/Debug/DMX_Remake.vcxproj.FileListAbsolute.txt
src/DMX_Remake/.vs/DMX_Remake/v16/Browse.VC.db
src/DMX_Remake/DMX_Remake/Debug/DMX_Debug.iobj
src/DMX_Remake/.vs/DMX_Remake/v16/Browse.VC.db
src/DMX_Remake/.vs/DMX_Remake/v16/Browse.VC.db
